body {
  background-color: gray;
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
  padding-bottom: 500px;
}
#header {
  position: sticky;
  top: 4px;
}
#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#header li {
  float: left;
}
#header li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}
#header li a:hover {
  background-color: #111;
}
#header li :active {
  background-color: blue;
}
#container {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  scroll-padding-top: 100px;
  width: 65%;
}
#container h2 {
  color: blue;
  font-style: oblique;
}
#Home {
  padding-left: 6px;
  border-left-style: solid;
  border-width: 5px;
  border-color: green;
  border-radius: 5px;
  background-image: linear-gradient(to right, black, rgb(95, 228, 124));
}
#Sample {
  padding-left: 6px;
  border-left-style: solid;
  border-width: 5px;
  border-color: yellow;
  border-radius: 5px;
  background-image: linear-gradient(to right, black, rgb(221, 231, 81));
}
#About {
  padding-left: 6px;
  border-left-style: solid;
  border-width: 5px;
  border-color: red;
  border-radius: 5px;
  background-image: linear-gradient(to right, black, rgb(247, 8, 8));
}

#aside {
  position: sticky;
  top: 4px;
  float: right;
  width: 33.3%;
}
#aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#aside li {
  float: left;
}
#aside li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}
#aside li a:hover {
  background-color: #111;
}
#aside li a:checked {
  background-color: blue;
}

.slideInLeft img {
  height: 200px;
  width: 300px;
}
#footer {
  position: inherit;
  bottom: 10px;
}
